
<p>
  <% @restaurants.each do |restaurant| %>
    <%= link_to image_tag(restaurant.logo_url), restaurant_path(restaurant) %>
    <%= link_to restaurant.name, restaurant_path(restaurant) %></br>
    <%= restaurant.location %></br>
  <% end %>
</p>
