// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h2 {
	font-family: 'Raleway', sans-serif;
	color: black;
}

.form {
	font-family: 'Raleway', sans-serif;
	padding-top: 25px;
	padding-left: 15%;
}
